.accordion-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.accordion-enter-active {
  height: auto;
  max-height: 1000px; /* 임시로 큰 값 */
  opacity: 1;
  transition:
    height 300ms ease-out,
    opacity 300ms ease-out;
}

.accordion-exit {
  height: auto;
  max-height: 1000px; /* 임시로 큰 값 */
  opacity: 1;
  overflow: hidden;
}

.accordion-exit-active {
  height: 0;
  opacity: 0;
  transition:
    height 300ms ease-in,
    opacity 300ms ease-in;
}
