.page-jump-forward-enter {
  left: 100%;
}

.page-jump-forward-enter-active {
  left: 0;
  transition: left 300ms ease-in-out;
}

.page-jump-backward-exit {
  transform: translateX(0);
}

.page-jump-backward-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
